ALLOWED_HOSTS = ['mxlive-data', 'example.com']


DATABASES = {
    'default': {
	    'ENGINE': 'django.db.backends.mysql',
	    'NAME': 'dataproxy',
	    'USER': 'root',
	    'PASSWORD': '',
	    'HOST': 'db.example.com',
	    'PORT': ''
    },
}

ADMINS = [
    ('Admin','admin@example.com'),
]
